<div id="<%= dom_id application_for_a_job %>">
  <p>
    <strong>Entreprise:</strong>
    <%= application_for_a_job.entreprise %>
  </p>

  <p>
    <strong>Lieu:</strong>
    <%= application_for_a_job.lieu %>
  </p>

  <p>
    <strong>Poste:</strong>
    <%= application_for_a_job.poste %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= application_for_a_job.statut %>
  </p>

  <p>
    <strong>Datedenvoi:</strong>
    <%= application_for_a_job.datedenvoi %>
  </p>

  <p>
    <strong>Datederelance:</strong>
    <%= application_for_a_job.datederelance %>
  </p>

</div>
