<p style="color: green"><%= notice %></p>

<h1>Applications for a job - Liste des Offres d'Emploi</h1>
<%=content_for :title do%>maintenir à jour la liste des offres<%end%>
<p>dis à gemini : par exemple en recherche d'emploi de coordinateur métiers, fais une structure de tableau avec les colonnes entreprise lieu poste statut date d'envoi. Obtient le tableau sur google sheets et demande à gemini comment tu peux tenir à jour ce document.
</p>

<p>
<%=select_tag :trier, options_for_select([["trier par",""], ["date d'envoi", "envoi"], ["date de relance", "relance"]], params[:myparam]), {onchange: "window.location.href='http://'+window.location.host+window.location.pathname+'?myparam='+this.value;"}%>
</p>

<div id="application_for_a_jobs">
  <% @application_for_a_jobs.each do |application_for_a_job| %>
    <%= render application_for_a_job %>
    <p>
      <%= link_to "Show this application for a job", application_for_a_job %>
    </p>
  <% end %>
</div>

<%= link_to "New application for a job", new_application_for_a_job_path %>
